.icon {
  border-radius: 100%;
  height: 25px;
  width: 25px;
  transition: 200ms all;
}



.icon img {
  height: 60%;
  width: 60%;
  margin: 20%;
}

.bug {
  background: #92BC2C;
  box-shadow: 0 0 20px #92BC2C;
}

.darkness {
  background: #0a0a0a;
  box-shadow: 0 0 20px #0a0a0a;
}

.dragon {
  background: #0C69C8;
  box-shadow: 0 0 20px #0C69C8;
}

.lightning {
  background: #F2D94E;
  box-shadow: 0 0 20px #F2D94E;
}

.fire {
  background: #FBA54C;
  box-shadow: 0 0 20px #FBA54C;
}

.fairy {
  background: #EE90E6;
  box-shadow: 0 0 20px #EE90E6;
}

.fighting {
  background: #f05800;
  box-shadow: 0 0 20px #f05800;
}

.flying {
  background: #A1BBEC;
  box-shadow: 0 0 20px #A1BBEC;
}

.ghost {
  background: #5F6DBC;
  box-shadow: 0 0 20px #5F6DBC;
}

.grass {
  background: #5FBD58;
  box-shadow: 0 0 20px #5FBD58;
}

.ground {
  background: #DA7C4D;
  box-shadow: 0 0 20px #DA7C4D;
}

.ice {
  background: #75D0C1;
  box-shadow: 0 0 20px #75D0C1;
}

.colorless {
  background: #cfd1cd;
  box-shadow: 0 0 20px #cfd1cd;
}

.poison {
  background: #B763CF;
  box-shadow: 0 0 20px #B763CF;
}

.psychic {
  background: #b511c4;
  box-shadow: 0 0 20px #b511c4;
}

.rock {
  background: #C9BB8A;
  box-shadow: 0 0 20px #C9BB8A;
}

.metal {
  background: #484a4b;
  box-shadow: 0 0 20px #484a4b;
}

.water {
  background: #539DDF;
  box-shadow: 0 0 20px #539DDF;
}